import React from 'react';

const {{name}}: React.FC = () => {
  return (
    <>
        <head>
            <title>template - {{name}}</title>
        </head>
        <div>

        </div>
    </>
  );
}

export default {{name}};